<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .main{
            display: flex;
            background-color: rgb(11, 110, 239);
            flex-direction: column;
            align-items: center;
            height: 50em;
            justify-content: center;
        }
    </style>
</head>
<body>
    
    
    

   

    <div class="main">
        <a href='/attendConvidado' style="margin-bottom: 20px;"><button>Convidado</button></a>
        <a href='/administrador'><button>Administrador</button></a>

    </div>





</body>
</html>