<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Administrador</title>
</head>
<body>
    <div>
        <h1>Formulário de autenticação</h1>
		<section>
			<% if(error) { %>
				<ul>
					<% for(let i = 0; i < error.length; i++){ %>
						<li>
							<%= error[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>

		<form class="form" action="/authUser" method="post">
			<input type="text" name="email" placeholder="Digite o email" value=<%= user.email %>>
			<input type="password" name="password" placeholder="Digite a senha" value=<%= user.password %>>
			
			
			<button type="submit" value="enviar">Enviar</button>
		</form>
        
    </div>
</body>
</html>