<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Foto</title>
</head>
<body>
    <h1>Inserir nova foto</h1>

    <form action="/addObra" method="post">
        <input type="text" name="nome" placeholder="Digite o nome da foto">
        <input type="text" name="urlfoto" placeholder="Digite o link para a foto">
        <input type="text" name="artista" placeholder="Digite autor da foto">
        <button type="submit">Inserir Foto</button>

    </form>

</body>
</html>